<app-header></app-header>
<div class="content page_data">
  <div class="mb-5 clearfix invisible">
    <p class="mb-0 fz35 pt-3">User</p>
  </div>
  <div class="custom_table">
    <div class="thePage_Data">
      <div class="clearfix mb-4">
        <p class="fz35">Dashboard</p>
      </div>
      <div class="theDashboard_Data">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
              <div class="col-selector">
                <div class="dashboard_tile card text-center p-3 bg-danger">
                  <i class="fa fa-eye"></i>
                  <h3>{{totalCrush}}</h3>
                  <p class="">Total Crush</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="col-selector">
                <div class="dashboard_tile card text-center p-3 bg-info">
                  <i class="fa fa-file-o"></i>
                  <h3>{{allMatches}}</h3>
                  <p class="">Matches</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="col-selector">
                <div class="dashboard_tile card text-center p-3 bg-warning">
                  <i class="fa fa-user-plus"></i>
                  <h3>{{newUsers}}</h3>
                  <p class="">New Users</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
              <div class="col-selector">
                <div class="dashboard_tile card text-center p-3 bg-primary">
                  <i class="fa fa-user-secret"></i>
                  <h3>{{activeUser}}</h3>
                  <p class="">Active Users</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->
