<app-header></app-header>
<div class="content page_data">
  <div class="mb-5 clearfix">
    <p class="mb-0 fz35 pt-3">User</p>
  </div>
    <div class="custom_table">
      <div class="table-responsive">
          <div class="col-6 float-left">
              <div><span style="color: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-variant-ligatures: inherit; font-variant-caps: inherit; font-weight: inherit;"><button (click)="exportAsXLSX()" type="button" id="exportReportButton" class="btn btn-primary">Export Crush</button></span></div>

         </div>
          <div class="col-6 float-right">
              <input [(ngModel)]="searchText" placeholder="Enter Crusrh Type Or Title for Search" class="form-control search-border float-right" />
            </div>
        <table class="table">
          <thead>
              <tr>
                  <th class="text-center fz14" style="width: 5%">S.No.</th>
                  <th class="text-center fz14" style="width: 10%">Type</th>
                  <th class="text-center fz14" style="width: 20%">Crush Title</th>
                  <th class="text-center fz14" style="width: 10%">Date/Time</th>
                  <th class="text-center fz14" style="width: 20%">Address</th>
                  <th class="text-center fz14" style="width: 30%">Description</th>
                  <th class="text-center fz14" style="width: 5%">Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let crushdata of  (allData  
              | searchFilter
                            : { type: searchText, crushTitle: searchText }
              | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: page
                });
          let i = index">
                  <td class="text-center fz14">{{(page - 1) * itemsPerPage + (i + 1)}}.</td>
                  <td class="text-center fz14">{{crushdata.type}}</td>
                  <td class="text-center fz14">{{crushdata.crushTitle}}</td>
                  <td class="text-center fz14">{{crushdata.crushDate}}</td>
                  <td class="text-center fz14">{{crushdata.startingAddress}}</td>
                  <td class="text-center fz14">{{crushdata.crushDescription}}</td>
                  <td class="text-center"><i class="fa fa-trash-o" style="font-size:35px;color:red" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverDeleteMessage" placement="left" (confirm)="deleteCrush(crushdata.id,i)" (cancel)="cancelClicked = true"></i></td>
              </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
</div>


<!-- add edit_category modal start here -->
  <div class="modal fade" id="edit_category" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-signup" role="document">
      <div class="modal-content">
        <div class="card card-signup card-plain m-0">
          <div class="modal-header">
            <h5 class="modal-title card-title">Edit Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <form action="" class="w-100 pl-4 pr-4">
                <div class="col-12">
                  <label for="customFile" class="mb-0">
                      <img src="http://via.placeholder.com/120x120" class="img-fluid rounded" alt="">
                      <span class="align-bottom ml-3">Upload Photo</span>
                  </label>
                  <input type="file" name="filename" class="custom-file-input d-none" id="customFile">
                </div>                                                        
                <div class="form-group col-12 mt-4">                              
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Category Name">
                </div>
                <div class="col-12">
                  <div class="col_selector mt-3">
                    <label class="mr-5">                                    
                      <span>Category Price : </span>
                    </label>
                    <div class="form-check form-check-radio form-check-inline mr-5">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Free
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio form-check-inline">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Paid
                        <span class="circle">
                            <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">                              
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Price">
                </div>
                <div class="col-12">
                  <div class="col_selector text-right">
                    <button type="submit" class="btn btn-primary mr-3">Save</button>
                    <button type="submit" class="btn btn-primary">Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- add modal end here -->
<!-- </div> -->